<mat-menu #statusMenu="matMenu">
  <ng-template matMenuContent let-libraryBook="libraryBook">
    @for (status of LIBRARY_BOOK_STATUSES; track status) {
      <button mat-menu-item
              [disabled]="libraryBook.status === status"
              (click)="statusChange.emit([libraryBook, status])">
        <span>{{ getStatusName(status) }}</span>
      </button>
    }
  </ng-template>
</mat-menu>

<mat-menu #ratingMenu="matMenu">
  <ng-template matMenuContent let-libraryBook="libraryBook">
    <app-book-rating [rating]="libraryBook?.rating ?? 0"
                     (ratingChange)="ratingChange.emit({libraryBookId: libraryBook?.id, rating: $event})"/>
  </ng-template>
</mat-menu>
