<div class="filters-container">
  <div class="filter-row main-row">
    <ng-content select="[mainFilters]"></ng-content>
  </div>

  <div class="filter-row secondary-row">
    <ng-content select="[secondaryFilters]"></ng-content>
    
    @if (hasActiveFilters()) {
      <button mat-stroked-button (click)="resetAll.emit()" class="clear-filters-btn"
              matTooltip="Скинути всі фільтри">
        <mat-icon>filter_alt_off</mat-icon>
        Скинути всі
      </button>
    }
  </div>

  <div class="filter-row footer-row">
    <ng-content select="[footerFilters]"></ng-content>
  </div>
</div>
