<mat-card [class.selected]="isSelected()" (click)="toggleSelection.emit()">
  <div class="cover">
    @if (book().coverImageUrl) {
      <img ngSrc="{{book().coverImageUrl}}" priority width="150" height="225" alt="Book cover"/>
    }
  </div>
  <div class="content">
    <p class="title"
       (click)="$event.stopPropagation(); goToBookDetails()"
       [matTooltip]="book().title"
       [matTooltipDisabled]="!shouldShowTooltip(book().title)">{{ truncateTitle(book().title) }}</p>
    <p class="authors">
      @for (author of book().authors | keyvalue; track author.key; let last = $last) {
        <a class="link"
           (click)="$event.stopPropagation(); goToAuthorDetails(author.key)">{{ author.value }}</a>{{ last ? '' : ', ' }}
      }
    </p>
    <p class="category">
      <a class="link" (click)="$event.stopPropagation(); goToCategoryDetails()">{{ book().categoryName }}</a>
    </p>
    <div class="metadata" *transloco="let c; prefix: 'common'">
      <span class="chip">{{ book().publishYear }}</span>
      <span class="chip">{{ book().pages }} {{ c('pagesShort') }}</span>
      <span class="chip">{{ book().language }}</span>
      @if (actionsMenu() && !selectionMode()) {
        <button mat-icon-button
                [matMenuTriggerFor]="actionsMenu()"
                [matMenuTriggerData]="menuData() || { $implicit: book() }"
                (click)="$event.stopPropagation()"
                class="menu-trigger">
          <mat-icon>more_vert</mat-icon>
        </button>
      } @else if (adminMode() && !selectionMode()) {
        <button mat-icon-button
                (click)="$event.stopPropagation(); goToAdminDetails()"
                class="menu-trigger">
          <mat-icon>edit</mat-icon>
        </button>
      }
    </div>
  </div>
</mat-card>
