spring:
  application:
    name: library
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        color_sql: true
  liquibase:
    enabled: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}


frontend:
  url: ${FRONTEND_URL:http://localhost:4200}


server:
  port: ${SERVER_PORT:8080}

application:
  pagination:
    default-page-size: 20
    max-page-size: 50
    min-page-size: 1
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      access-token-expiration: 86400000
      refresh-token-expiration: 172800000
      cookie-name: ${JWT_COOKIE_NAME:jwt}

logging:
  level:
    org.example.library: DEBUG
    org.hibernate.SQL: DEBUG