<mat-card (click)="goToBookDetails()" matTooltip="Деталі книги" matTooltipShowDelay="500">
  <div class="cover">
    @if (book().coverImageUrl) {
      <img ngSrc="{{book().coverImageUrl}}" priority width="150" height="225" alt="Book cover"/>
    }
  </div>
  <div class="content">
    <p class="title" [matTooltip]="book().title" [matTooltipDisabled]="!shouldShowTooltip(book().title)">{{ truncateTitle(book().title) }}</p>
    <p class="authors">
      @for (author of book().authors | keyvalue; track author.key; let last = $last) {
        <a class="link"
           (click)="$event.stopPropagation(); goToAuthorDetails(author.key)">{{ author.value }}</a>{{ last ? '' : ', ' }}
      }
    </p>
    <p class="category">{{ book().categoryName }}</p>
    <div class="metadata">
      <span class="chip">{{ book().publishYear }}</span>
      <span class="chip">{{ book().pages }}p</span>
      <span class="chip">{{ book().language }}</span>
      @if (actionsMenu()) {
        <button mat-icon-button
                [matMenuTriggerFor]="actionsMenu()"
                [matMenuTriggerData]="menuData() || { $implicit: book() }"
                (click)="$event.stopPropagation()"
                class="menu-trigger">
          <mat-icon>more_vert</mat-icon>
        </button>
      }
    </div>
  </div>
</mat-card>
