<div *transloco="let t; prefix: 'collections'">
  <div class="breadcrumbs">
    <a routerLink="/collections" class="breadcrumb-item">
      <mat-icon>home</mat-icon>
      <span>{{ t('title') }}</span>
    </a>
    @for (ancestor of collection.ancestors; track ancestor.id) {
      <mat-icon class="separator">chevron_right</mat-icon>
      <a [routerLink]="['/collections', ancestor.id]" class="breadcrumb-item">
        {{ ancestor.name }}
      </a>
    }
    <mat-icon class="separator">chevron_right</mat-icon>
    <span class="breadcrumb-item active">{{ collection.name }}</span>
  </div>

  <div class="collection-header">
    <div class="header-main">
      <div>
        <h3 class="collection-name">
          {{ collection.name }}
        </h3>
        @if (collection.description) {
          <p class="collection-description">{{ collection.description }}</p>
        }
        <p class="books-number">
          {{ t('stats', {books: booksState.totalElements, subcollections: collection.children.length}) }}
        </p>
      </div>

      <div class="header-actions">
        <mat-button-toggle-group [value]="viewMode()" (change)="viewMode.set($event.value)" aria-label="View Mode">
          <mat-button-toggle value="grid">
            <mat-icon>grid_view</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="list">
            <mat-icon>view_list</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <button mat-flat-button color="primary" (click)="openViewBookListDialog()">
          <mat-icon>add</mat-icon>
          {{ t('addBook') }}
        </button>

        <button mat-icon-button [matMenuTriggerFor]="collectionMenu" class="more-btn">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>

  @if (collection.children && collection.children.length > 0) {
    <div class="sub-collections-section">
      <h4>{{ t('subcollections') }}</h4>
      <div class="sub-collections-list">
        @for (child of collection.children; track child.id) {
          <a [routerLink]="['/collections', child.id]" class="sub-collection-card">
            <mat-icon>folder</mat-icon>
            <span>{{ child.name }}</span>
          </a>
        }
      </div>
    </div>
  }

  <div class="collection-books">
    <div class="section-header">
      <h4>{{ t('booksInCollection') }}</h4>
      <mat-slide-toggle
        [checked]="filters.state().recursive"
        (change)="filters.update('recursive', $event.checked)"
        color="primary">
        {{ t('showSubcollections') }}
      </mat-slide-toggle>
    </div>

    <app-filter-shell [hasActiveFilters]="hasActiveFilters()"
                      [(isExpanded)]="isFiltersExpanded"
                      [activeFiltersCount]="activeFiltersCount()"
                      (resetAll)="clearAllFilters()">
      <div topRowFilters>
        <app-text-filter
          [label]="t('bookTitle')"
          [value]="filters.state().title || ''"
          (valueChange)="filters.update('title', $event)"/>
      </div>
    </app-filter-shell>

    <app-sort-bar [options]="bookSortOptions()" (sortChange)="onSortChange($event)"/>

    <app-books-display
      [books]="booksState.items"
      [totalElements]="booksState.totalElements"
      [pageSize]="booksState.pageSize"
      [pageIndex]="booksState.currentPage"
      [loading]="booksState.loading"
      [actionsMenu]="collectionBookMenu"
      [selectionStore]="selection"
      [viewMode]="viewMode()"
      (pageChange)="onPageChange($event)"/>
  </div>

  <app-bulk-action-bar [selectedCount]="selection.count()" (clear)="selection.clear()">
    <button mat-flat-button [matMenuTriggerFor]="bulkStatusMenu">
      <mat-icon>label</mat-icon>
      <span *transloco="let lb; prefix: 'library.bulkActions'">{{ lb('changeStatus') }}</span>
    </button>
    <button mat-flat-button (click)="openBulkAddToOtherCollectionDialog()">
      <mat-icon>playlist_add</mat-icon>
      <span>{{ t('addToOtherCollection') }}</span>
    </button>
    <button mat-flat-button color="warn" (click)="bulkRemoveFromCollection()"
            [disabled]="filters.state().recursive"
            [matTooltip]="filters.state().recursive ? t('cannotRemoveRecursive') : ''">
      <mat-icon>remove_circle</mat-icon>
      <span>{{ t('removeFromCollection') }}</span>
    </button>
  </app-bulk-action-bar>

  <mat-menu #bulkStatusMenu="matMenu">
    @for (option of statusOptions(); track option.value) {
      <button mat-menu-item (click)="bulkUpdateStatus(option.value)">
        <span>{{ option.label }}</span>
      </button>
    }
  </mat-menu>

  <mat-menu #collectionMenu="matMenu">
    <ng-container *transloco="let c; prefix: 'common'">
      <button mat-menu-item (click)="openUpdateDialog()">
        <mat-icon>edit</mat-icon>
        <span>{{ c('edit') }}</span>
      </button>
      <button mat-menu-item (click)="openCreateSubDialog()">
        <mat-icon>add</mat-icon>
        <span>{{ t('createSubcollection') }}</span>
      </button>
      <button mat-menu-item (click)="addChildCollection()">
        <mat-icon>playlist_add</mat-icon>
        <span>{{ t('addExistingCollection') }}</span>
      </button>
      <button mat-menu-item (click)="moveCollection()">
        <mat-icon>drive_file_move</mat-icon>
        <span>{{ c('move') }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="deleteCollection()">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ c('delete') }}</span>
      </button>
    </ng-container>
  </mat-menu>

  <mat-menu #collectionBookMenu="matMenu">
    <ng-template matMenuContent let-libraryBook="libraryBook">
      <ng-container *transloco="let m; prefix: 'library.menu'">
        <button mat-menu-item (click)="openNoteDialog(libraryBook)">
          <mat-icon>note_alt</mat-icon>
          <span>{{ m('myNotes') }}</span>
        </button>

        <button mat-menu-item (click)="openQuotesDialog(libraryBook)">
          <mat-icon>format_quote</mat-icon>
          <span>{{ m('myQuotes') }}</span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="bookInfoMenu" [matMenuTriggerData]="{ libraryBook: libraryBook }">
          <mat-icon>info</mat-icon>
          <span>{{ m('bookInformation') }}</span>
        </button>

        <button mat-menu-item (click)="addToCollection(libraryBook)">
          <mat-icon>playlist_add</mat-icon>
          <span>{{ t('addToCollection') }}</span>
        </button>
        <button mat-menu-item (click)="moveBookToOtherCollection(libraryBook)">
          <mat-icon>drive_file_move</mat-icon>
          <span>{{ t('moveToOtherCollection') }}</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="sharedMenu.statusMenu"
                [matMenuTriggerData]="{ libraryBook: libraryBook }">
          <mat-icon>label</mat-icon>
          <span>{{ t('changeStatus') }}</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="sharedMenu.ratingMenu"
                [matMenuTriggerData]="{ libraryBook: libraryBook }">
          <mat-icon>star</mat-icon>
          <span>{{ t('rate') }}</span>
        </button>
        <button mat-menu-item (click)="removeFromAllCollections(libraryBook)">
          <mat-icon>folder_delete</mat-icon>
          <span>{{ t('removeFromAllCollections') }}</span>
        </button>
        <button mat-menu-item (click)="deleteBook(libraryBook)">
          <mat-icon>remove_circle</mat-icon>
          <span>{{ t('removeFromCollection') }}</span>
        </button>
      </ng-container>
    </ng-template>
  </mat-menu>

  <mat-menu #bookInfoMenu="matMenu">
    <ng-template matMenuContent let-libraryBook="libraryBook">
      <ng-container *transloco="let m; prefix: 'library.menu'">
        @if (libraryBook.book.ownerId) {
          <button mat-menu-item (click)="openUpdateLocalBookDialog(libraryBook)">
            <mat-icon>edit</mat-icon>
            <span>{{ m('editDetails') }}</span>
          </button>
        } @else {
          <button mat-menu-item (click)="openEditDetailsDialog(libraryBook)">
            <mat-icon>edit</mat-icon>
            <span>{{ m('editDetails') }}</span>
          </button>
        }
        <button mat-menu-item (click)="openLocationDialog(libraryBook)">
          <mat-icon>location_on</mat-icon>
          <span>{{ m('location') }}</span>
        </button>
      </ng-container>
    </ng-template>
  </mat-menu>
  </div>


<app-library-book-menu-items #sharedMenu
                             (statusChange)="statusChange($event)"
                             (ratingChange)="ratingChange($event)"
                             style="display: none;">
</app-library-book-menu-items>
