<div class="container">
  <div class="collection-header" [ngStyle]="{'background-color': collection.color || ''}">
    <h3 class="collection-name">
      {{ collection.name }}
    </h3>
    <p class="books-number">
      {{ collectionBooks.length }} книг в колекції
    </p>
  </div>

  <div class="collection-actions">
    <button mat-flat-button (click)="openViewBookListDialog()">Додати книгу</button>
    <button mat-flat-button (click)="openUpdateDialog()">Редагувати колекцію</button>
    <button mat-raised-button (click)="goBack()">Повернутися назад</button>
  </div>

  <div class="collection-books">
    <h4>Книги в колекції:</h4>
    <div class="books-list">
      @for (collectionBook of collectionBooks; track collectionBook.libraryBook.id) {
        <app-book
          [book]="collectionBook.libraryBook.book"
          [actionsMenu]="collectionBookMenu"
          [menuData]="{ libraryBook: collectionBook.libraryBook }"/>
      }
    </div>
  </div>
</div>

<mat-menu #collectionBookMenu="matMenu">
  <ng-template matMenuContent let-libraryBook="libraryBook">
    <button mat-menu-item (click)="sharedMenu.goToBookDetails(libraryBook.book)">
      <mat-icon>info</mat-icon>
      <span>Деталі книги</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="sharedMenu.statusMenu" [matMenuTriggerData]="{ libraryBook: libraryBook }">
      <mat-icon>label</mat-icon>
      <span>Змінити статус</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="sharedMenu.ratingMenu" [matMenuTriggerData]="{ libraryBook: libraryBook }">
      <mat-icon>star</mat-icon>
      <span>Оцінити</span>
    </button>
    <button mat-menu-item (click)="removeFromAllCollections(libraryBook)">
      <mat-icon>folder_delete</mat-icon>
      <span>Видалити з усіх колекцій</span>
    </button>
    <button mat-menu-item (click)="deleteBook(libraryBook)">
      <mat-icon>remove_circle</mat-icon>
      <span>Видалити з колекції</span>
    </button>
  </ng-template>
</mat-menu>

<app-library-book-menu-items #sharedMenu
                             (statusChange)="statusChange($event)"
                             (ratingChange)="ratingChange($event)"
                             style="display: none;">
</app-library-book-menu-items>

