.container {
  margin-left: 30px;
  margin-right: 30px;
}

.collection-header {
  border-radius: 4px;
  color: white;
  margin-top: 30px;
  padding: 15px;
}

.collection-name {
  font-size: 28px;
  margin-bottom: 6px;
}

.collection-actions {
  margin-top: 30px;

  button {
    margin-right: 10px;
  }
}

.collection-books {
  margin-top: 30px;

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
