<div *transloco="let t; prefix: 'search'">
  <div class="header-row">
    <h1 class="page-title">{{ t('title') }}</h1>
    <div class="header-actions">
      <mat-button-toggle-group [value]="viewMode()" (change)="viewMode.set($event.value)" aria-label="View Mode">
        <mat-button-toggle value="grid">
          <mat-icon>grid_view</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="list">
          <mat-icon>view_list</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <mat-tab-group [selectedIndex]="uiState.activeTabIndex" (selectedIndexChange)="onTabChange($event)"
                 mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <mat-tab [label]="t('tabs.allBooks')">
      <app-book-list mode="search" [actionsMenu]="searchBookMenu" [viewMode]="viewMode()">
        <button bulkActions mat-flat-button (click)="bulkAddBooks()">
          <mat-icon>add_circle</mat-icon>
          <span>{{ t('bulkActions.addToLibrary') }}</span>
        </button>
      </app-book-list>
    </mat-tab>

    <mat-tab [label]="t('tabs.authors')">
      @if (uiState.authorsOpened) {
        <app-author-list mode="search" (authorBooks)="showAuthorBooks($event)"/>
      }
    </mat-tab>

    <mat-tab [label]="t('tabs.categories')">
      @if (uiState.categoriesOpened) {
        <app-category-list mode="search" (categoryBooks)="goToCategoryBooks($event)"/>
      }
    </mat-tab>
  </mat-tab-group>

  <mat-menu #searchBookMenu="matMenu">
    <ng-template matMenuContent let-book>
      <ng-container *transloco="let m; prefix: 'search.menu'">
        <button mat-menu-item (click)="addBookToLibrary(book)" [disabled]="isBookInLibrary(book)">
          <mat-icon>add_circle</mat-icon>
          <span>{{ isBookInLibrary(book) ? m('alreadyInLibrary') : m('addToLibrary') }}</span>
        </button>
      </ng-container>
    </ng-template>
  </mat-menu>
</div>
