@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea, select {
  font: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

button[mat-menu-item] {
  display: flex;
  align-items: center;
  gap: 6px;
}
