<div class="admin-container" *transloco="let t; prefix: 'admin'">
  <div class="header-row">
    <h1 class="page-title">{{ t('dashboard.title') }}</h1>
    <button mat-flat-button color="primary" (click)="addEntity()">
      <mat-icon>add</mat-icon>
      {{ activeTab === 0 ? t('dashboard.addBook') : (activeTab === 1 ? t('dashboard.addAuthor') : t('dashboard.addCategory')) }}
    </button>
  </div>

  <mat-tab-group [(selectedIndex)]="activeTab" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <mat-tab [label]="t('dashboard.books')">
      <app-search [adminMode]="true"></app-search>
    </mat-tab>
    <mat-tab [label]="t('dashboard.authors')">
      <app-author-list mode="admin" (authorDeleted)="onAuthorDeleted($event)"></app-author-list>
    </mat-tab>
    <mat-tab [label]="t('dashboard.categories')">
      <app-category-list mode="admin" (categoryDeleted)="onCategoryDeleted($event)"></app-category-list>
    </mat-tab>
  </mat-tab-group>
</div>
