<div class="content-wrapper">
  @if (loading()) {
    <div class="loading-overlay">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  }
  <div class="books-grid">
    @for (item of books(); track item.id) {
      <app-book 
        [book]="getBook(item)" 
        [actionsMenu]="actionsMenu()"
        [menuData]="getMenuData(item)"/>
    }
  </div>

  <mat-paginator
    [length]="totalElements()"
    [pageSize]="pageSize()"
    [pageIndex]="pageIndex()"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    aria-label="Вибрати сторінку">
  </mat-paginator>
</div>
