<div class="container" *transloco="let t; prefix: 'bookDetails'">
  <div class="book-header">
    @if (book.coverImageUrl) {
      <div class="card-image">
        <img ngSrc="{{book.coverImageUrl}}" priority width="200" height="300" alt="Book cover"/>
      </div>
    }

    <div class="book-info">
      <h3 class="book-title">{{ book.title }}</h3>
      <div class="book-authors">
        @for (entry of authors; track entry[0]) {
          <a class="link" (click)="goToAuthorDetails(entry[0])">{{ entry[1] }}</a>
        }
      </div>
      @if (!bookDetails.isInLibrary) {
        <button mat-flat-button (click)="addBookToLibrary()">{{ t('addToLibrary') }}</button>
      }
      <div>{{ t('myRating') }}:
        <app-book-rating [rating]="bookDetails.myRating" (ratingChange)="changeRating($event)"/>
      </div>
      <div>
        {{ t('averageRating') }}
        <div class="average-rating">
          <app-book-rating [rating]="bookDetails.averageRating" [disabled]="true"/>
          <span>{{ t('ratingsCount', { count: bookDetails.ratingsNumber }) }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="book-details">
    <h4>{{ t('info') }}</h4>
    <div class="book-details-info">
      <div class="book-details-group">
        <div><span class="book-attribute-label">{{ t('genre') }}:</span> {{ book.categoryName }}</div>
        <div><span class="book-attribute-label">{{ t('pages') }}:</span> {{ book.pages }}</div>
        <div><span class="book-attribute-label">{{ t('language') }}:</span> {{ book.language }}</div>
        <div><span class="book-attribute-label">{{ t('publishYear') }}:</span> {{ book.publishYear }}</div>
        <div *transloco="let s; prefix: 'library.statuses'">
          <span class="book-attribute-label">{{ t('status') }}: </span>
          @if (bookDetails && bookDetails.status) {
            {{ s(bookDetails.status) }}
          } @else {
            {{ t('notInLibrary') }}
          }
        </div>
      </div>
      <div class="book-collections">
        <span class="book-attribute-label">{{ t('inCollections') }}</span>
        @for (collection of bookDetails.collections; track collection.id) {
          <div class="collections">
            <a mat-button (click)="goToCollection(collection)">{{ collection.name }}</a>
          </div>
        }
      </div>
    </div>
  </div>

  @if (book.description) {
    <div class="book-description">
      <span class="book-attribute-label">{{ t('description') }}:</span>
      <p class="book-description-text">{{ book.description }}</p>
    </div>
  }
</div>
