<ng-container *transloco="let t">
  <mat-toolbar>
    <a mat-button routerLink="/" routerLinkActive="active">{{ t('appTitle') }}</a>

    <ng-container *transloco="let m; prefix: 'menu'">
      @if (authService.isUser()) {
        <a mat-button routerLink="/dashboard" routerLinkActive="active">{{ m('dashboard') }}</a>
        <a mat-button routerLink="/library" routerLinkActive="active">{{ m('library') }}</a>
        <a mat-button routerLink="/collections" routerLinkActive="active">{{ m('collections') }}</a>
        <a mat-button routerLink="/recommendations" routerLinkActive="active">{{ m('recommendations') }}</a>
        <a mat-button routerLink="/search" routerLinkActive="active">{{ m('search') }}</a>
      }
      @if (authService.isAdmin()) {
        <a mat-button routerLink="/admin" routerLinkActive="active">{{ m('admin') }}</a>
      }

      <span class="spacer"></span>

      @if (authService.currentUser()) {
        <a mat-button routerLink="/profile" routerLinkActive="active">{{ m('profile') }}</a>
        <button mat-button (click)="logout()">{{ m('logout') }}</button>
      } @else {
        <a mat-button routerLink="/login" routerLinkActive="active">{{ m('login') }}</a>
        <a mat-button routerLink="/register" routerLinkActive="active">{{ m('register') }}</a>
      }
    </ng-container>

    <button mat-icon-button [matMenuTriggerFor]="langMenu" class="lang-button">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="changeLang('en')">EN</button>
      <button mat-menu-item (click)="changeLang('uk')">UA</button>
    </mat-menu>

  </mat-toolbar>
</ng-container>
