<mat-toolbar>
  <a mat-button routerLink="/" routerLinkActive="active">BookTracker</a>
  <a mat-button routerLink="/library" routerLinkActive="active">Бібліотека</a>
  <a mat-button routerLink="/collections" routerLinkActive="active">Колекції</a>
  <a mat-button routerLink="/recomendations" routerLinkActive="active">Рекомендації</a>
  <a mat-button routerLink="/search" routerLinkActive="active">Пошук</a>
  <span class="spacer"></span>

  @if (isAuthenticated) {
    <a mat-button routerLink="/profile" routerLinkActive="active">Профіль</a>
    <button mat-button (click)="logout()">Вихід</button>
  } @else {
    <a mat-button routerLink="/login" routerLinkActive="active">Логін</a>
    <a mat-button routerLink="/register" routerLinkActive="active">Реєстрація</a>
  }

</mat-toolbar>
