<mat-toolbar>
  <a mat-button routerLink="/" routerLinkActive="active">BookTracker</a>
  <a mat-button routerLink="/library" routerLinkActive="active">Бібліотека</a>
  <a mat-button routerLink="/collections" routerLinkActive="active">Колекції</a>
  <a mat-button routerLink="/recomendations" routerLinkActive="active">Рекомендації</a>
  <a mat-button routerLink="/search" routerLinkActive="active">Пошук</a>
  <span class="spacer"></span>
  <a mat-button (click)="this.login()">Логін</a>
</mat-toolbar>
