<ng-container *transloco="let t; prefix: 'dialogs.deleteBook'">
  <h2 mat-dialog-title>{{ t('title') }}</h2>

  <div mat-dialog-content>
    <p class="warning-text" [innerHTML]="t('confirmMessage', { title: data.bookTitle })">
    </p>

    @if (data.collections.length > 0) {
      <div class="collections-warning">
        <p class="warning-title">{{ t('collectionsWarning') }}</p>
        <ul class="collections-list">
          @for (collection of data.collections; track collection.id) {
            <li [ngStyle]="{'color': collection.color || '#333'}">
              {{ collection.name }}
            </li>
          }
        </ul>
        <p class="warning-subtitle">{{ t('deleteWarning') }}</p>
      </div>
    }
  </div>

  <mat-dialog-actions align="end" *transloco="let c; prefix: 'common'">
    <button mat-button (click)="cancelDelete()">{{ c('cancel') }}</button>
    <button mat-raised-button color="warn" (click)="confirmDelete()">{{ c('delete') }}</button>
  </mat-dialog-actions>
</ng-container>
