<button class="more-icon" mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" yPosition="below" xPosition="after">
  <button mat-menu-item (click)="goToBookDetails()">
    <mat-icon>info</mat-icon>
    <span>Деталі книги</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="status">
    <mat-icon>label</mat-icon>
    <span>Змінити статус</span>
  </button>
  <button mat-menu-item (click)="this.deleteBook.emit(this.libraryBook());">
    <mat-icon>delete</mat-icon>
    <span>Видалити</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="rating">
    <mat-icon>star</mat-icon>
    <span>Оцінити</span>
  </button>
</mat-menu>

<mat-menu #rating="matMenu" yPosition="below" xPosition="after">
  <app-book-rating [rating]="(this.libraryBook().rating || 0)"
                   (ratingChange)="this.ratingChange.emit({bookId: this.libraryBook().book.id, rating: $event})">

  </app-book-rating>
</mat-menu>

<mat-menu #status="matMenu" yPosition="below" xPosition="after">
  @for (libraryBookStatus of USER_BOOK_STATUSES; track $index) {
    <button mat-menu-item
            [disabled]="this.libraryBook().status === libraryBookStatus"
            (click)="this.statusChange.emit([this.libraryBook(), libraryBookStatus])">
      <span>{{ getStatusName(libraryBookStatus) }}</span>
    </button>
  }
</mat-menu>
