.container {
  margin: 60px;
}

.author-name {
  font-size: 28px;
}

.author-attribute-label {
  font-weight: 600;
  margin-bottom: 15px;
}

.author-years {
  margin-top: 10px;
  font-size: 18px;
}

.author-country {
  margin-top: 10px;

  .author-attribute-label {
    margin-right: 8px;
  }
}

.biography-container {
  margin-top: 15px;

  .author-attribute-label {
    font-size: 20px;
  }

  .author-biography-text {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--mat-sys-surface-container);
    margin-top: 8px;
    line-height: 1.6;
  }
}

.author-books {
  margin-top: 30px;

  .author-attribute-label {
    font-size: 20px;
  }
}
