<div class="container">
  <h1 class="author-name">{{ author.fullName }}</h1>
  <p class="author-years"><span class="author-attribute-label">Роки життя:</span> {{ author.birthYear }}
    - {{ author.deathYear || 'дотепер' }}</p>
  <div class="author-country">
    <span class="author-attribute-label">Країна народження:</span>
    <span>{{ author.country }}</span>
  </div>
  @if (author.biography) {
    <div class="biography-container">
      <span class="author-attribute-label">Біографія</span>
      <p class="author-biography-text">{{ author.biography }}</p>
    </div>
  }
  <div class="author-books">
    <p class="author-attribute-label">Всі книги автора</p>
    <app-books-grid
      [books]="books"
      [totalElements]="totalElements"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [loading]="loading"
      [actionsMenu]="addAction"
      (pageChange)="onPageChange($event)"
      (sortChange)="onSortChange($event)"/>
  </div>
</div>

<mat-menu #addAction="matMenu">
  <ng-template matMenuContent let-book>
    <button mat-menu-item (click)="addBookToLibrary(book)" [disabled]="isBookInLibrary(book)">
      <mat-icon>add</mat-icon>
      <span>{{ isBookInLibrary(book) ? 'Вже в бібліотеці' : 'Додати до бібліотеки' }}</span>
    </button>
  </ng-template>
</mat-menu>
