<div class="list-item" [class.selected]="isSelected()" (click)="toggleSelection.emit()">
  <div class="cover" (click)="$event.stopPropagation(); goToBookDetails()">
    @if (book().coverImageUrl) {
      <img ngSrc="{{book().coverImageUrl}}" priority width="40" height="60" alt="Book cover"/>
    } @else {
      <div class="no-cover"><mat-icon>book</mat-icon></div>
    }
  </div>

  <div class="info">
    <div class="main-info">
      <span class="title"
            (click)="$event.stopPropagation(); goToBookDetails()"
            [matTooltip]="book().title">{{ book().title }}</span>
      <span class="authors">
        @for (author of book().authors | keyvalue; track author.key; let last = $last) {
          <a class="link"
             (click)="$event.stopPropagation(); goToAuthorDetails(author.key)">{{ author.value }}</a>{{ last ? '' : ', ' }}
        }
      </span>
    </div>

    <div class="secondary-info" *transloco="let c; prefix: 'common'">
      <span class="category">
        <a class="link" (click)="$event.stopPropagation(); goToCategoryDetails()">{{ book().categoryName }}</a>
      </span>
      <span class="metadata">{{ book().publishYear }} • {{ book().pages }}{{ c('pagesShort') }} • {{ book().language }}</span>
    </div>
  </div>

  <div class="actions">
    @if (actionsMenu() && !selectionMode()) {
      <button mat-icon-button
              [matMenuTriggerFor]="actionsMenu()"
              [matMenuTriggerData]="menuData() || { $implicit: book() }"
              (click)="$event.stopPropagation()"
              class="menu-trigger">
        <mat-icon>more_vert</mat-icon>
      </button>
    }
  </div>
</div>
