<div class="container" *transloco="let t; prefix: 'collections'">
  <div class="header">
    <h1>{{ t('title') }}</h1>
  </div>

  <div class="tree-actions">
    <button mat-button (click)="tree.expandAll()">
      <mat-icon>unfold_more</mat-icon>
      <span>{{ t('expandAll') }}</span>
    </button>
    <button mat-button (click)="tree.collapseAll()">
      <mat-icon>unfold_less</mat-icon>
      <span>{{ t('collapseAll') }}</span>
    </button>
    <button mat-flat-button color="primary" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon>
      <span>{{ t('createCollection') }}</span>
    </button>
  </div>

  <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <li class="mat-tree-node">
        <button mat-icon-button disabled></button>
        <div [routerLink]="['/collections', node.id]" [matTooltip]="t('goToCollection')"
             [matTooltipShowDelay]="this.SHOW_DELAY" (click)="$event.stopPropagation()">
          <mat-icon>{{ 'folder' }}</mat-icon>
          <span>{{ node.name }}</span>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{node: node}"
                (click)="$event.stopPropagation()" class="menu-button">
          <mat-icon>more_vert</mat-icon>
        </button>
      </li>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle
                   [cdkTreeNodeTypeaheadLabel]="node.name">
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle [matTreeNodeToggleRecursive]="true"
                [matTooltip]="tree.isExpanded(node) ? t('collapseBranch') : t('expandBranch')"
                [matTooltipShowDelay]="400"
                [attr.aria-label]="'Toggle branch'">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ tree.isExpanded(node) ? 'unfold_more' : 'unfold_less' }}
          </mat-icon>
        </button>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name"
                [matTooltip]="tree.isExpanded(node) ? t('collapseCollection') : t('expandCollection')"
                [matTooltipShowDelay]="400">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        <div [routerLink]="['/collections', node.id]" [matTooltip]="t('goToCollection')"
             [matTooltipShowDelay]="this.SHOW_DELAY" (click)="$event.stopPropagation()">
          <mat-icon>{{ tree.isExpanded(node) ? 'folder_open' : 'folder' }}</mat-icon>
          <span>{{ node.name }}</span>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{node: node}"
                (click)="$event.stopPropagation()" class="menu-button">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-tree-node>
  </mat-tree>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-node="node">
      <button mat-menu-item (click)="openAddBookDialog(node)">
        <mat-icon>library_add</mat-icon>
        <span>{{ t('addBook') }}</span>
      </button>
      <button mat-menu-item (click)="openUpdateDialog(node)">
        <mat-icon>edit</mat-icon>
        <span>{{ t('updateCollection') }}</span>
      </button>
      <button mat-menu-item (click)="openCreateDialog(node.id)">
        <mat-icon>add</mat-icon>
        <span>{{ t('createSubcollection') }}</span>
      </button>
      <button mat-menu-item (click)="addChildCollection(node)">
        <mat-icon>playlist_add</mat-icon>
        <span>{{ t('addExistingCollection') }}</span>
      </button>
      <button mat-menu-item (click)="moveCollection(node)">
        <mat-icon>drive_file_move</mat-icon>
        <span>{{ t('moveCollection') }}</span>
      </button>
      <button mat-menu-item (click)="deleteCollection(node)">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ t('deleteCollection') }}</span>
      </button>
    </ng-template>
  </mat-menu>
</div>
